/* Untuk Tablet */
@media all and (max-width: 1000px) {

  .top-wrapper h1 {
    font-size: 32px;
  }

  .heading h2 {
    font-size: 20px;
  }

  .our-webcoderskull .cnt-block {
    float: left;
    width: 100%;
    background: #fff;
    padding: 20px 0px;
    text-align: center;
    border: 2px solid #d5d5d5;
    margin: 0 0 28px;
}
.our-webcoderskull .cnt-block img{
  margin-right: 36px;
   width:81px;
   height:84px;
   border-radius:100%;
}
.our-webcoderskull .cnt-block figure{
   width:128px;
   height:88px;
   border-radius:100%;
   display:inline-block;
   /* margin-bottom: 15px; */
}
.padding-lg {
	display: block;
  padding: 60px 60px 35px 218px;
}

.our-webcoderskull  .equal-hight{
  width: 95px;
  height: 264px;

}

.our-webcoderskull .cnt-block h3 a{
  font-size: 13px;
  text-decoration:none;
	color:#2a2a2a;
}
.our-webcoderskull .cnt-block p{
   color:#2a2a2a;
   font-size:10px;
   line-height:20px;
   font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
	margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{
    display:inline-block;
	width:auto;
	margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{
   font-size:15px;
   color:#767676;
}

}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .padding-lg {
  	display: block;
    padding: 60px 60px;
  }

  footer {
    text-align: center;
  }

  .btn {
    width: 100%;
  }

  .facebook {
    margin-bottom: 10px;
  }

  .top-wrapper {
    text-align: left;
  }

  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none;
  }

  /* Tambahkan CSS untuk menu-icon */
  .menu-icon{
    display: block;
  }

  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }

  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}
